body {
  display: flex;
  flex-direction: column;
}

header {
  flex: 0 100px;
}

main {
  flex: 1 calc(100vh - 180px);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer {
  flex: 0 80px;
}

#count {
  color: rgb(246, 239, 158);
}

.game {
  background: rgb(0, 0, 0);
  border-radius: 50%;
  box-shadow: 0 0 20px 5px rgb(69, 69, 69);
  width: 80vw;
  height: 80vw;
  position: absolute;
  min-width: 300px;
  min-height: 300px;
  max-width: 1000px;
  max-height: 1000px;
}

.button-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.button-top-left {
  border-radius: 100% 0 0 0;
  margin: 20px 0 0 20px;
  background-color: green;
  border: thick solid rgb(36, 53, 0);
}

.button-top-right {
  border-radius: 0 100% 0 0;
  margin: 20px 20px 0 0;
  background-color: red;
  border: thick solid rgb(83, 12, 12);
}

.button-bottom-left {
  border-radius: 0 0 0 100%;
  margin: 0 0 20px 20px;
  background-color: yellow;
  border: thick solid rgb(130, 124, 13);
}

.button-bottom-right {
  border-radius: 0 0 100% 0;
  margin: 0 20px 20px 0;
  background-color: blue;
  border: thick solid rgb(27, 14, 100);
}

.controls {
  position: absolute;
  border-radius: 50%;
  width: 20vh;
  height: 20vh;
  background-color: black;
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.control {
    /* position: absolute; */
}

.center {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
/* 
  .center-x {
    left: 50%;
    transform: translateX(-50%);
  }
  
  .center-y {
    top: 50%;
    transform: translateY(-50%);
  } */